$primaryColor: #00cd7f;
$secondaryColor: #fff;
$tertiaryColor: #2B2E44;


$loginPrimary: #0FCA7F;
$loginSecondary: #fff;


$signupPrimary: #0FCA7F;
$signupSecondary: #fff;
$signupTertiary: #2B2E44;
$signupQuaternal: #6ADCC8;