@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import 'variables';
@import 'navbar';


// Fonts

$font: 'Open Sans', sans-serif;

// Colors

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;;
}

body {
  font-family: $font;
  background-color: #2B2E44;
  .navbar {
    background-color: $primaryColor;
  }
}

#addtodo {
  border: 2px solid $secondaryColor;
  border-radius: 10px;
  padding: 0 0 0 0.5rem;
  font-size: 1.25rem;
  color: $secondaryColor;
  width: 90%;
  height: 3rem;
  background-color: $tertiaryColor;
  outline: none;
  &::placeholder {
    color: $secondaryColor;
  }
}

.container {
  width: 40vw;
  margin-top: 10vh;
}

.header-container {
  display: table;
  background-color: $primaryColor;
  height: 5rem;
  width: 100%;
  text-align: center;
  h1 {
    display: table-cell;
    vertical-align: middle;
    color: $secondaryColor;
  }
}

.form-container {
  padding: .75rem 0;
  background-color: $primaryColor;
  form {
    margin: 0 .5rem;
  }
}

.task-container {
  background-color: $secondaryColor;
}

.fa-trash-alt {
  vertical-align: middle;
  color: $secondaryColor;
  &:hover {
    color: red;
  }
}

.controls {
  a:first-of-type {
    text-decoration: none;
    width: fit-content;
    margin-right: .2rem;
    padding-right: 0;
  }
}

.fa-check {
  vertical-align: middle;
  color: $secondaryColor;
  &:hover {
    color: $primaryColor;
  }
  &a {
    padding-right: 0; 
  }
}

.submit-button {
  border-radius: 50%;
  padding: 0;
  margin: 0;
  background-color: $tertiaryColor;
  outline: none;
  border: 2px solid white;
  width: 3rem;
  height: 3rem;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  color: white;
}

.submit-button:hover {
  color: $primaryColor;
  background-color: $secondaryColor;
  border-color: $tertiaryColor;
  .fa-plus {
    color: $tertiaryColor;
  }
}

.list-item {
  margin: .5rem .5rem;
  padding: .75rem 0;
  border-radius: 25px;
  color: white;
  text-align: center;
  background-color: $tertiaryColor;
  font-size: 1.45rem;
  a {
    padding-right: 0.75rem;
    vertical-align: middle;
    height: fit-content;
    margin-top: 5px;
  }
  span {
    padding-left: 0.75rem;
    display: block;
  }
  
}

.time {
  text-align: left;
  font-size: .75rem;
}
