@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
.navbar {
  padding: 0;
}

.navbar-brand {
  font-size: 1.5rem;
  padding-left: 1vh;
  padding-top: .75vh;
  padding-bottom: .75vh;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

.second-logo-word {
  color: #fff;
}

.user-name {
  padding-right: 1vh;
  padding-top: .75vh;
  padding-bottom: .75vh;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: #2B2E44;
  font-weight: 700;
  font-size: 1.5rem;
}

.user-name:hover {
  text-decoration: none;
  color: #fff;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #2B2E44;
}

body .navbar {
  background-color: #00cd7f;
}

body .row {
  margin: 20px 0;
  padding: 0;
}

body .row .col-lg-4 {
  padding-left: 20px;
}

body .row .col-lg-8 {
  padding: 0;
}

#addtodo {
  border: 2px solid #fff;
  border-radius: 30px;
  padding: 0 0 0 0.5rem;
  font-size: 1.25rem;
  color: #fff;
  width: 90%;
  height: 3rem;
  background-color: #2B2E44;
  outline: none;
}

#addtodo::-webkit-input-placeholder {
  color: #fff;
}

#addtodo:-ms-input-placeholder {
  color: #fff;
}

#addtodo::-ms-input-placeholder {
  color: #fff;
}

#addtodo::placeholder {
  color: #fff;
}

.header-container {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: block;
  background-color: #00cd7f;
  width: 100%;
  text-align: center;
}

.header-container h1 {
  margin-bottom: 0;
  padding: 1vh 0;
  color: #fff;
}

.form-container {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: .75rem 0;
  background-color: #00cd7f;
}

.form-container form {
  margin: 0 .5rem;
}

.task-container {
  border-radius: 25px;
  background-color: #fff;
}

/*
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

Need to implement a custom scrollbar in case there are more tasks than place on the screen

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
*/
.fa-trash-alt {
  vertical-align: middle;
  color: #fff;
}

.fa-trash-alt:hover {
  color: red;
}

.controls a:first-of-type {
  text-decoration: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: .2rem;
  padding-right: 0;
}

.fa-check {
  vertical-align: middle;
  color: #fff;
}

.fa-check:hover {
  color: #00cd7f;
}

.fa-checka {
  padding-right: 0;
}

.submit-button {
  border-radius: 50%;
  padding: 0;
  margin: 0;
  background-color: #2B2E44;
  outline: none;
  border: 2px solid white;
  width: 3rem;
  height: 3rem;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  color: white;
}

.submit-button:hover {
  color: #00cd7f;
  background-color: #fff;
  border-color: #2B2E44;
}

.submit-button:hover .fa-plus {
  color: #2B2E44;
}

.list-item {
  margin: .5vh .5vh;
  padding: .5vh 0;
  border-radius: 30px;
  color: white;
  text-align: center;
  background-color: #2B2E44;
  font-size: 1.25rem;
}

.list-item .item-title {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.list-item a {
  padding-right: 1vh;
  vertical-align: middle;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 5px;
}

.list-item .time {
  font-size: .75rem;
  padding-left: 2vh;
}

.list-item span {
  margin-right: 0;
  padding-left: 1.9vh;
  display: block;
}

.list-item .controls {
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  line-height: 4.2vh;
}

.list-item .controls a {
  margin-right: .5vh;
}

.time {
  text-align: left;
  font-size: .75rem;
}
/*# sourceMappingURL=style.css.map */